In [117]:
import numpy as np
import pandas as pd

In [118]:
df= pd.read_csv('dataset_artigo_sensores_dividido/walking/walk8.csv',index_col=0)
#df= pd.read_csv('dataset_artigo_sensores_dividido/seated/seated5.csv',index_col=0)
#df= pd.read_csv('dataset_artigo_sensores_dividido/stand/stand5.csv',index_col=0)
#df= pd.read_csv('dataset_artigo_sensores_dividido/wuphill/iw_uphill4.csv',index_col=0)
df.head()

                        time  ID_S   Q_I   Q_J   Q_K   Q_R label
date
'1969-12-31  19:04:31.190650     1  0.08  0.17  0.31  0.93  walk
'1969-12-31  19:04:32.065591     4 -0.17 -0.06  0.97  0.16  walk
'1969-12-31  19:04:32.096566     1  0.12 -0.01  0.27  0.95  walk
'1969-12-31  19:04:32.138473     2  0.11  0.05  0.98  0.14  walk
'1969-12-31  19:04:32.176375     3 -0.09  0.09 -0.30  0.95  walk

In [119]:
df[['hour','minute','segund']] = df['time'].str.split(":", expand=True)
df['minute'] = df['minute'].astype(float).astype(int)
df['segund'] = df['segund'].astype(float).astype(int)

In [120]:
id1_df= df[df.ID_S == 1]
id2_df = df[df.ID_S ==2]
id3_df= df[df.ID_S == 3]
id4_df = df[df.ID_S ==4]

In [121]:
result = pd.merge(id1_df,id2_df, how="left", on=["minute","segund","label","hour"])
result

,time_x,ID_S_x,Q_I_x,Q_J_x,Q_K_x,Q_R_x,label,hour,minute,segund,time_y,ID_S_y,Q_I_y,Q_J_y,Q_K_y,Q_R_y
0,19:04:31.190650,1,0.08,0.17,0.31,0.93,walk,19,4,31,NaN,NaN,NaN,NaN,NaN,NaN
1,19:04:32.096566,1,0.12,-0.01,0.27,0.95,walk,19,4,32,19:04:32.138473,2.0,0.11,0.05,0.98,0.14
2,19:04:33.405054,1,0.14,0.07,0.30,0.94,walk,19,4,33,19:04:33.166770,2.0,0.04,0.10,0.98,0.17
3,19:04:34.022679,1,0.02,0.18,0.50,0.84,walk,19,4,34,19:04:34.095009,2.0,0.05,-0.07,-0.98,0.16
4,19:04:35.142563,1,0.14,0.03,0.57,0.81,walk,19,4,35,19:04:35.194532,2.0,-0.11,-0.11,-0.97,0.18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
153,19:07:04.056019,1,0.17,-0.08,-0.86,0.48,walk,19,7,4,19:07:04.148239,2.0,0.08,0.07,-0.00,0.99
154,19:07:05.011085,1,0.09,-0.02,-0.85,0.52,walk,19,7,5,19:07:05.077915,2.0,0.07,-0.20,0.06,0.98
155,19:07:06.114271,1,0.07,-0.12,-0.86,0.48,walk,19,7,6,19:07:06.398988,2.0,0.08,-0.15,0.05,0.98
156,19:07:07.105441,1,0.12,-0.09,-0.85,0.51,walk,19,7,7,19:07:07.207078,2.0,0.08,-0.00,0.05,1.00
157,19:07:08.026607,1,0.13,-0.01,-0.86,0.50,walk,19,7,8,19:07:08.129196,2.0,0.06,-0.27,0.09,0.96

In [122]:
result.columns = ['time_x','ID_S_1','Q_I_1','Q_J_1','Q_K_1','Q_R_1','label','hour','minute','segund','time_y','ID_S_2','Q_I_2','Q_J_2','Q_K_2','Q_R_2']

In [123]:
result.head()

,time_x,ID_S_1,Q_I_1,Q_J_1,Q_K_1,Q_R_1,label,hour,minute,segund,time_y,ID_S_2,Q_I_2,Q_J_2,Q_K_2,Q_R_2
0,19:04:31.190650,1,0.08,0.17,0.31,0.93,walk,19,4,31,NaN,NaN,NaN,NaN,NaN,NaN
1,19:04:32.096566,1,0.12,-0.01,0.27,0.95,walk,19,4,32,19:04:32.138473,2.0,0.11,0.05,0.98,0.14
2,19:04:33.405054,1,0.14,0.07,0.30,0.94,walk,19,4,33,19:04:33.166770,2.0,0.04,0.10,0.98,0.17
3,19:04:34.022679,1,0.02,0.18,0.50,0.84,walk,19,4,34,19:04:34.095009,2.0,0.05,-0.07,-0.98,0.16
4,19:04:35.142563,1,0.14,0.03,0.57,0.81,walk,19,4,35,19:04:35.194532,2.0,-0.11,-0.11,-0.97,0.18

In [124]:
del result['time_y']

In [125]:
result = pd.merge(result,id3_df, how="left", on=["minute","segund","label","hour"])
result

,time_x,ID_S_1,Q_I_1,Q_J_1,Q_K_1,Q_R_1,label,hour,minute,segund,...,Q_I_2,Q_J_2,Q_K_2,Q_R_2,time,ID_S,Q_I,Q_J,Q_K,Q_R
0,19:04:31.190650,1,0.08,0.17,0.31,0.93,walk,19,4,31,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,19:04:32.096566,1,0.12,-0.01,0.27,0.95,walk,19,4,32,...,0.11,0.05,0.98,0.14,19:04:32.176375,3.0,-0.09,0.09,-0.30,0.95
2,19:04:33.405054,1,0.14,0.07,0.30,0.94,walk,19,4,33,...,0.04,0.10,0.98,0.17,19:04:33.087817,3.0,0.02,0.16,-0.28,0.95
3,19:04:34.022679,1,0.02,0.18,0.50,0.84,walk,19,4,34,...,0.05,-0.07,-0.98,0.16,19:04:34.003011,3.0,-0.05,-0.00,-0.00,1.00
4,19:04:35.142563,1,0.14,0.03,0.57,0.81,walk,19,4,35,...,-0.11,-0.11,-0.97,0.18,19:04:35.041143,3.0,-0.08,0.11,0.13,0.98
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
153,19:07:04.056019,1,0.17,-0.08,-0.86,0.48,walk,19,7,4,...,0.08,0.07,-0.00,0.99,19:07:04.043609,3.0,0.11,-0.06,0.99,0.01
154,19:07:05.011085,1,0.09,-0.02,-0.85,0.52,walk,19,7,5,...,0.07,-0.20,0.06,0.98,19:07:05.163045,3.0,0.00,-0.09,1.00,0.05
155,19:07:06.114271,1,0.07,-0.12,-0.86,0.48,walk,19,7,6,...,0.08,-0.15,0.05,0.98,19:07:06.249356,3.0,-0.12,-0.10,0.99,0.06
156,19:07:07.105441,1,0.12,-0.09,-0.85,0.51,walk,19,7,7,...,0.08,-0.00,0.05,1.00,19:07:07.068461,3.0,-0.11,-0.03,0.98,0.14
157,19:07:08.026607,1,0.13,-0.01,-0.86,0.50,walk,19,7,8,...,0.06,-0.27,0.09,0.96,19:07:08.021516,3.0,-0.05,-0.10,0.98,0.15

In [126]:
result.columns = ['time_x','ID_S_1','Q_I_1','Q_J_1','Q_K_1','Q_R_1','label','hour','minute','segund','ID_S_2','Q_I_2','Q_J_2','Q_K_2','Q_R_2','time','ID_S_3','Q_I_3','Q_J_3','Q_K_3','Q_R_3']

In [127]:
del result['time_x']

In [128]:
result = pd.merge(result,id4_df, how="left", on=["minute","segund","label","hour"])
result

,ID_S_1,Q_I_1,Q_J_1,Q_K_1,Q_R_1,label,hour,minute,segund,ID_S_2,...,Q_I_3,Q_J_3,Q_K_3,Q_R_3,time_y,ID_S,Q_I,Q_J,Q_K,Q_R
0,1,0.08,0.17,0.31,0.93,walk,19,4,31,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,0.12,-0.01,0.27,0.95,walk,19,4,32,2.0,...,-0.09,0.09,-0.30,0.95,19:04:32.065591,4.0,-0.17,-0.06,0.97,0.16
2,1,0.14,0.07,0.30,0.94,walk,19,4,33,2.0,...,0.02,0.16,-0.28,0.95,19:04:33.305925,4.0,0.21,-0.08,0.95,0.23
3,1,0.02,0.18,0.50,0.84,walk,19,4,34,2.0,...,-0.05,-0.00,-0.00,1.00,19:04:34.238559,4.0,-0.09,0.04,-0.99,0.14
4,1,0.14,0.03,0.57,0.81,walk,19,4,35,2.0,...,-0.08,0.11,0.13,0.98,19:04:35.427045,4.0,0.14,0.07,-0.96,0.23
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
153,1,0.17,-0.08,-0.86,0.48,walk,19,7,4,2.0,...,0.11,-0.06,0.99,0.01,19:07:04.210788,4.0,-0.03,-0.23,0.12,0.97
154,1,0.09,-0.02,-0.85,0.52,walk,19,7,5,2.0,...,0.00,-0.09,1.00,0.05,19:07:05.118636,4.0,-0.08,0.17,0.04,0.98
155,1,0.07,-0.12,-0.86,0.48,walk,19,7,6,2.0,...,-0.12,-0.10,0.99,0.06,19:07:06.031852,4.0,-0.01,-0.31,0.06,0.95
156,1,0.12,-0.09,-0.85,0.51,walk,19,7,7,2.0,...,-0.11,-0.03,0.98,0.14,19:07:07.236662,4.0,-0.04,-0.15,0.15,0.98
157,1,0.13,-0.01,-0.86,0.50,walk,19,7,8,2.0,...,-0.05,-0.10,0.98,0.15,19:07:08.158821,4.0,-0.08,-0.01,0.05,1.00

In [129]:
del result['time_y']

In [130]:
result.head()

,ID_S_1,Q_I_1,Q_J_1,Q_K_1,Q_R_1,label,hour,minute,segund,ID_S_2,...,ID_S_3,Q_I_3,Q_J_3,Q_K_3,Q_R_3,ID_S,Q_I,Q_J,Q_K,Q_R
0,1,0.08,0.17,0.31,0.93,walk,19,4,31,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,0.12,-0.01,0.27,0.95,walk,19,4,32,2.0,...,3.0,-0.09,0.09,-0.30,0.95,4.0,-0.17,-0.06,0.97,0.16
2,1,0.14,0.07,0.30,0.94,walk,19,4,33,2.0,...,3.0,0.02,0.16,-0.28,0.95,4.0,0.21,-0.08,0.95,0.23
3,1,0.02,0.18,0.50,0.84,walk,19,4,34,2.0,...,3.0,-0.05,-0.00,-0.00,1.00,4.0,-0.09,0.04,-0.99,0.14
4,1,0.14,0.03,0.57,0.81,walk,19,4,35,2.0,...,3.0,-0.08,0.11,0.13,0.98,4.0,0.14,0.07,-0.96,0.23

In [131]:
result.columns = ['ID_S_1','Q_I_1','Q_J_1','Q_K_1','Q_R_1','label','hour','minute','segund','ID_S_2','Q_I_2','Q_J_2','Q_K_2','Q_R_2','time','ID_S_3','Q_I_3','Q_J_3','Q_K_3','Q_R_3','ID_S_4','Q_I_4','Q_J_4','Q_K_4','Q_R_4']

In [132]:
#print(result.isna().sum())

# isnull
print(result.isnull().sum())

ID_S_1    0
Q_I_1     0
Q_J_1     0
Q_K_1     0
Q_R_1     0
label     0
hour      0
minute    0
segund    0
ID_S_2    1
Q_I_2     1
Q_J_2     1
Q_K_2     1
Q_R_2     1
time      1
ID_S_3    1
Q_I_3     1
Q_J_3     1
Q_K_3     1
Q_R_3     1
ID_S_4    1
Q_I_4     1
Q_J_4     1
Q_K_4     1
Q_R_4     1
dtype: int64

In [133]:
result = result.iloc[1:]

In [134]:
print(result.isnull().sum())

ID_S_1    0
Q_I_1     0
Q_J_1     0
Q_K_1     0
Q_R_1     0
label     0
hour      0
minute    0
segund    0
ID_S_2    0
Q_I_2     0
Q_J_2     0
Q_K_2     0
Q_R_2     0
time      0
ID_S_3    0
Q_I_3     0
Q_J_3     0
Q_K_3     0
Q_R_3     0
ID_S_4    0
Q_I_4     0
Q_J_4     0
Q_K_4     0
Q_R_4     0
dtype: int64

In [135]:
del result['hour']
del result['minute']
del result['segund']
del result['ID_S_1']
del result['ID_S_2']
del result['ID_S_3']
del result['ID_S_4']

In [136]:
result.head()

,Q_I_1,Q_J_1,Q_K_1,Q_R_1,label,Q_I_2,Q_J_2,Q_K_2,Q_R_2,time,Q_I_3,Q_J_3,Q_K_3,Q_R_3,Q_I_4,Q_J_4,Q_K_4,Q_R_4
1,0.12,-0.01,0.27,0.95,walk,0.11,0.05,0.98,0.14,19:04:32.176375,-0.09,0.09,-0.30,0.95,-0.17,-0.06,0.97,0.16
2,0.14,0.07,0.30,0.94,walk,0.04,0.10,0.98,0.17,19:04:33.087817,0.02,0.16,-0.28,0.95,0.21,-0.08,0.95,0.23
3,0.02,0.18,0.50,0.84,walk,0.05,-0.07,-0.98,0.16,19:04:34.003011,-0.05,-0.00,-0.00,1.00,-0.09,0.04,-0.99,0.14
4,0.14,0.03,0.57,0.81,walk,-0.11,-0.11,-0.97,0.18,19:04:35.041143,-0.08,0.11,0.13,0.98,0.14,0.07,-0.96,0.23
5,0.06,0.18,0.91,0.38,walk,0.08,-0.10,-0.72,0.68,19:04:36.158597,-0.06,0.11,0.52,0.84,-0.20,-0.05,-0.90,0.38

In [137]:
df = result.reindex(columns=['time','Q_I_1','Q_J_1','Q_K_1','Q_R_1','Q_I_2','Q_J_2','Q_K_2','Q_R_2','Q_I_3','Q_J_3','Q_K_3','Q_R_3','Q_I_4','Q_J_4','Q_K_4','Q_R_4','label'])

In [138]:
df

,time,Q_I_1,Q_J_1,Q_K_1,Q_R_1,Q_I_2,Q_J_2,Q_K_2,Q_R_2,Q_I_3,Q_J_3,Q_K_3,Q_R_3,Q_I_4,Q_J_4,Q_K_4,Q_R_4,label
1,19:04:32.176375,0.12,-0.01,0.27,0.95,0.11,0.05,0.98,0.14,-0.09,0.09,-0.30,0.95,-0.17,-0.06,0.97,0.16,walk
2,19:04:33.087817,0.14,0.07,0.30,0.94,0.04,0.10,0.98,0.17,0.02,0.16,-0.28,0.95,0.21,-0.08,0.95,0.23,walk
3,19:04:34.003011,0.02,0.18,0.50,0.84,0.05,-0.07,-0.98,0.16,-0.05,-0.00,-0.00,1.00,-0.09,0.04,-0.99,0.14,walk
4,19:04:35.041143,0.14,0.03,0.57,0.81,-0.11,-0.11,-0.97,0.18,-0.08,0.11,0.13,0.98,0.14,0.07,-0.96,0.23,walk
5,19:04:36.158597,0.06,0.18,0.91,0.38,0.08,-0.10,-0.72,0.68,-0.06,0.11,0.52,0.84,-0.20,-0.05,-0.90,0.38,walk
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
153,19:07:04.043609,0.17,-0.08,-0.86,0.48,0.08,0.07,-0.00,0.99,0.11,-0.06,0.99,0.01,-0.03,-0.23,0.12,0.97,walk
154,19:07:05.163045,0.09,-0.02,-0.85,0.52,0.07,-0.20,0.06,0.98,0.00,-0.09,1.00,0.05,-0.08,0.17,0.04,0.98,walk
155,19:07:06.249356,0.07,-0.12,-0.86,0.48,0.08,-0.15,0.05,0.98,-0.12,-0.10,0.99,0.06,-0.01,-0.31,0.06,0.95,walk
156,19:07:07.068461,0.12,-0.09,-0.85,0.51,0.08,-0.00,0.05,1.00,-0.11,-0.03,0.98,0.14,-0.04,-0.15,0.15,0.98,walk
157,19:07:08.021516,0.13,-0.01,-0.86,0.50,0.06,-0.27,0.09,0.96,-0.05,-0.10,0.98,0.15,-0.08,-0.01,0.05,1.00,walk

In [139]:
df.to_csv('base_one_col_sensors/walk/walk8.csv',index=False)